version: "3.9"

services:
  web:
    build: .
    container_name: ryder_web
    ports:
      - "5001:5000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: ryder_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"